* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: linear-gradient(to bottom, #00b6d2, #1a0033);
}

.wrapper {
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: linear-gradient(to bottom, #00b6d2, #1a0033);
}
.wrapper_result{
  padding: 30px;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  background: linear-gradient(to bottom, #00b6d2, #1a0033);
  color:  black;
  border: none;
}

form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}



form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
  background: linear-gradient(to bottom, #00b6d2, #1a0033);
}

form .drop-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
  background: linear-gradient(to bottom, #00b6d2, #1a0033);
}

.select-box img {
  max-width: 21px;
}

.select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.num-btn,
.clear-btn,
.convert-btn {
  width: calc(33.333% - 5px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  background: linear-gradient(to bottom, #00b6d2, #1a0033);
  color:  black;
  border: none;
}

form button {
  height: 52px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to bottom, #00b6d2, #1a0033);
  transition: 0.3s ease;
}

form button:hover {
  background: white;
}
.drop-list.down {
  transform: translateY(10px); /* Пример простой анимации */
  transition: transform 0.3s ease;
}